body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 13px 25px;
}

.top-header a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding-left: 15px;
    vertical-align: middle;
}

.top-header a:hover {
    opacity: 0.85;
    text-decoration: underline;
}

.fa-th {
    font-size: 20px;
    padding-left: 18px;
    color: #737373;
}

.fa-th:hover {
    cursor: pointer;
    color: #333;
}

.user-icon {
    margin-left: 7px;
    margin-top: 4px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.logo img {
    width: 272px;
    padding-top: 92px;
}

.searching-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    width: 582px;
    border: 1px solid #dfe1e5;
    height: 44px;
    border-radius: 24px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search-box input {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    display: flex;
    font-size: 16px;
    margin-left: 15px;
    flex: 100%;
    height: 34px;
}

.search-box .fa-search {
    margin-left: 18px;
    color: #a6abb1;
}

.search-box .fa-microphone {
    margin-right: 18px;
    color: #ea4335;
    cursor: pointer;
    font-size: 20px;
}

.search-box input:focus-within .search-box {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
}

.search-buttons button {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 6px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search-buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search-buttons button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    min-width: 400px;
}

.links-left {
    float: left;
    margin-left: 30px;
}

.links-right {
    float: right;
    margin-right: 30px;
}

.main-footer a {
    padding-left: 27px;
    text-decoration: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #5f6368;
}

.main-footer a:first-child {
    padding: 0;
}

.main-footer a:hover {
    text-decoration: underline;
}

.top-header-results {
    justify-content: space-between;
    position: fixed;
    width: 97vw;
    background-color: #fff;
}

.top-header-results .apps-account {
    display: flex;
    align-items: center;
    padding: 13px 15px 0 0;
}

.results-logo-form {
    display: flex;
}

.results-logo-form img {
    width: 92px;
    height: 30px;
    padding: 15px 28px 0 0px;
}

.results-logo-form .search-box {
    margin: 0;
    width: 692px;
}

.results-logo-form .search-form {
    padding: 5px 4px 0 16px;
}

.search-box .fa-times {
    color: #80868b;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.search-box span {
    border-left: 1px solid #dfe1e5;
    height: 65%;
}

.results-logo-form .search-box .fa-microphone {
    margin: 0;
    margin-left: 20px;
}

.results-logo-form .search-box .fa-search {
    margin: 0 20px 0 20px;
    color: #4d90fe;
}

.tools-bar {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6368;
    height: 45px;
    padding-left: 140px;
    padding-top: 75px;
}

.tools-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.tools-bar ul li i {
    margin-right: 3px;
}

.tools-bar ul li {
    padding: 3px 12px 12px 8px;
    cursor: pointer;
}

.tools-bar ul li.active {
    color: #4d90fe;
    border-bottom: 3px solid #202124;
}

.tools-bar .settings-tools {
    margin-left: 150px;
}

.results-main {
    padding: 0 0 0 180px;
    margin-top: 15px;
}

.results-main > span {
    font-size: 13px;
    color: #70757a;
}

.results {
    width: 650px;
    margin-bottom: 15px;
}

.result-entry {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto", arial, sans-serif;
    width: 600px;
}

.result-entry span {
    font-size: 14px;
    color: #202124;
}

.result-entry h3 {
    font-size: 20px;
    padding: 6px 0 6px 0;
    margin: 0;
    font-weight: normal;
}

.result-entry h3 > a {
    text-decoration: none;
}

.result-entry .description {
    color: #4d5156;
    line-height: 1.58;
    margin: 0;
    font-size: 14px;
}

.related-heading {
    font-size: 20px;
    color: #333;
    font-weight: 400;
    line-height: 26px;
}

.related-results {
    display: flex;
    margin-bottom: 20px;
}

.related-results > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
}

.related-results > ul:first-child {
    padding-right: 20px;
}

.related-results > ul > li > a {
    text-decoration: none;
}

.pagination {
    width: 652px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pagination img {
    width: 45%;
}

.pagination ul {
    list-style: none;
    color: #4285f4;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.pagination ul li {
    padding: 0 0 0 11px;
}

.result-footer {
    color: rgba(0, 0, 0, 0.54);
    height: 82px;
    background-color: #f2f2f2;
    padding-left: 180px;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
}

.result-footer .help-terms {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
    border-top: 1px solid #e4e4e4;
}

.result-footer .help-terms > li {
    margin-right: 20px;
}

.result-footer .help-terms > li > a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.result-footer .help-terms > li > a:hover{
    color: #333;
}
